/*----------------
    RESET
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------
    LAYOUT
------------------*/

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.TeamContainer {
    max-width: 1000px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}

.img-card {
    max-width: 30%;
    height: auto;
    margin-right: 10px;
}

.formContainer {

    max-width: 800px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
/*----------------
   TIPOGRAPHY
------------------*/
body{
    font-family: "Fredoka", sans-serif;
}

header{
    color: #E53170;
}

h1,
main > p{
    text-align: center;
}

main > p {
    margin: 15px;
}
/*----------------
   HEADER
------------------*/

header h1{
    padding: 10px;
    margin: 25px auto;
}

/*----------------   
 TEAM GRID SECTION
------------------*/

.TeamGrid{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.TeamCard {
    display: flex;
    width: calc((100% - 10px*6) / 3);
    height: auto;
    background-color: black;
    align-items: center;
    color: white;
    margin: 10px;

}

/*----------------   
    FORM
------------------*/

#addMember{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}